:root {
    --color-primary: #4a90e2;
    --color-background: #ffff;
    --color-text: #333333;
    --color-border: #e0e0e0;
    --color-box-shadow: rgb(222, 222, 222);
    --color-rever-tecnologia: rgb(42,151,170);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}